# Compiler Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# IDE Files #
*.iml
.idea/**
*.classpath
*.project
*.settings
target/

# Zip Files #
*.zip
*.7z
*.rar

# Installer Files #
*.exe
*.so
*.dll
*.cab

# Log Temp Files #
*.via
*.tmp
*.err
*.keep

# Version Temp Files #
*.bak
*.svn
*.git

